<IfModule mod_rewrite.c>
  RewriteEngine On

  RewriteCond %{HTTP_HOST} !^ise-2026\.osu\.cz$ [NC,OR]
  RewriteCond %{HTTPS} off

  RewriteRule ^(.*)$ https://ise-2026.osu.cz/$1 [L,R=301]
</IfModule>

<IfModule mod_headers.c>
  Header always unset Content-Security-Policy
  Header always unset Strict-Transport-Security
  Header always unset X-Frame-Options
  Header always unset X-Content-Type-Options
  Header always unset Referrer-Policy
  Header always unset Cross-Origin-Opener-Policy
  Header always unset Cross-Origin-Resource-Policy
  Header always unset Permissions-Policy

  Header always set Content-Security-Policy "default-src 'self'; script-src 'self' https://cloud.umami.is; object-src 'none'; base-uri 'self'; style-src 'self' 'unsafe-inline'; font-src 'self'; img-src 'self' data:; frame-src 'self' https://www.google.com; frame-ancestors 'none'; connect-src 'self' https://api-gateway.umami.dev;"
  Header always set Strict-Transport-Security "max-age=63072000; includeSubDomains; preload"
  Header always set X-Frame-Options "DENY"
  Header always set X-Content-Type-Options "nosniff"
  Header always set Referrer-Policy "strict-origin-when-cross-origin"
  Header always set Cross-Origin-Opener-Policy "same-origin"
  Header always set Cross-Origin-Resource-Policy "same-site"
  Header always set Permissions-Policy "geolocation=(), camera=(), microphone=()"
</IfModule>
