@import "tailwindcss";

@font-face {
  font-family: "IBM Plex Sans";
  src: url("fonts/IBMPlexSans-VariableFont_wdth\,wght.ttf") format("truetype");
  font-weight: 100 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Sans";
  src: url("fonts/IBMPlexSans-Italic-VariableFont_wdth\,wght.ttf") format("truetype");
  font-weight: 100 700;
  font-style: italic;
  font-display: swap;
}

@theme {
  --font-sans: "IBM Plex Sans", ui-sans-serif, system-ui, sans-serif;

  --breakpoint-md: 688px;

  --animate-darken: darken 0.8s ease-out forwards;
  --animate-fade-in-up: fade-in-up 0.5s ease-out forwards;
  --animate-fade-in-down: fade-in-down 0.5s ease-out forwards;
  --animate-fade-in: fade-in 0.5s ease-out forwards;

  @keyframes darken {
    from {
      background-color: rgba(0, 0, 0, 0);
    }
    to {
      background-color: rgba(0, 0, 0, 0.3);
    }
  }
  @keyframes fade-in-up {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes fade-in-down {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

@layer base {
  html {
    scroll-behavior: smooth;
    scrollbar-gutter: stable;
  }
}
